{% extends "base.html" %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/builder/resumes.css' %}">
{% endblock head %}

{% block body %}
<div class="resumes-browse-page">
    <div class="hero-page">
        <h2>Professional Resume Templates</h2>
        <br>
        <p>Our professional resume templates are perfect for job seekers of any background. They’re all newly updated for 2024, and can be downloaded for Word or copied as a Google Doc. If you don’t find a design you like on this page, we have 100+ other free resume templates to choose from.</p>
        <br>
        <br>
        <a class="hero-btn" href="{% url 'client:client_contact_page' %}">Build My Resume Now</a>
    </div>

    <div class="templates">
        <div class="categories">
            {% for category in categories %}
                <div class="category">
                    <a href="">{{category}}</a>
                </div>
            {% endfor %}
        </div>
        
        <div class="template-preview">
            {% for template in templates %}
                <div class="template-thumbnails-div">
                    <img src="{{template.template_thumbnail.url}}" alt="template-img">
                </div>
                <div class="template-details">
                    {{template.description | safe}}
                    <br><br><br>
                    <div class="button-div">
                        <h3>Resume Builder</h3>
                        <br>
                        <p>Use our software and create a professional resume using a premade template. Let the Genius resume builder help you make your resume fast.</p>
                        <br>
                        <a class="hero-btn temp-desc-btn" href="{% url 'client:client_contact_page' %}">Build My Resume Now</a>
                    </div>
                </div>
                    
            {% endfor %}
        </div>
    </div>
    
    
</div>
{% endblock body %}

{% comment %} <p>{{ template.template_name }}</p> {% endcomment %}
                    {% comment %} <a href="{% url 'builder:generate_pdf' client.id template.id %}">GENERATE pdf</a> {% endcomment %}
                    {% comment %} <a href="{% url 'builder:generate_docx' client.id template.id %}">GENERATE docX</a> {% endcomment %}
                