<h1>About Us</h1>
blog
<h2>Credits</h2>
icon8 -> provided icons for our projects.

Browse icon:
<a target="_blank" href="https://icons8.com/icon/mncIBUSrZmyZ/search-in-browser">Browse</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>

write icon:
<a target="_blank" href="https://icons8.com/icon/uqco4KBdnfN4/write">Write</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>

delete icon:
<a href="https://www.flaticon.com/free-icons/delete" title="delete icons">Delete icons created by Freepik - Flaticon</a>